<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blue Ridge Bank</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bootstrap App Landing Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Blue Ridge Bank">
    <meta name="generator" content="Blue Ridge Bank">

    <!-- theme meta -->
    <meta name="theme-name" content="bank-app" />
    <title>@ViewData["Title"] - BankManagerApp</title>
    @*<link rel="stylesheet" href="~/plugins/bootstrap/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/BankManagerApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="~/plugins/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/plugins/aos/aos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>


<body class="@ViewBag.BodyClass">


    @*HEADER*@
    <header>
        <nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0 sticky-top">
            <div class="container">
                <a class="navbar-brand" asp-page="/Index"><img src="~/images/BrB-logo2-alt.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        @if (User.IsInRole("Admin ") || User.IsInRole("Cashier"))
                        {
                            <li class="nav-item dropdown">
                                <a asp-page="/Customers/Index" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                    Menu
                                    <span><i class="ti-angle-down"></i></span>
                                </a>

                                <!-- Dropdown list -->
                                <ul class="dropdown-menu">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>
                                            <a class="dropdown-item" asp-page="/Administrator/Index">Administrate Users</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-page="/Privacy">Privacy</a>
                                        </li>
                                    }

                                    else if (User.IsInRole("Cashier"))
                                    {
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-page="/Customers/Index">Customers</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-page="/Accounts/Index">Accounts</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-page="/CustomerManagement/Index">Manage Clients</a>
                                        </li>
                                    }
                                </ul>
                            </li>

                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item  @@administrate users">
                                <a class="nav-link text-dark" asp-page="/Administrator/Index">Administrate Users</a>
                            </li>
                            <li class="nav-item @@privacy">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>

                        }
                        else if (User.IsInRole("Cashier"))
                        {
                            <li class="nav-item @@customers">
                                <a class="nav-link text-dark" asp-area=""
                               asp-page="/Customers/Index">Customers</a>
                            </li>

                            <li class="nav-item  @@accounts">
                                <a class="nav-link text-dark" asp-area=""
                               asp-page="/Accounts/Index">Accounts</a>
                            </li>

                            <li class="nav-item  @@clients">
                                <a class="nav-link text-dark" asp-page="/CustomerManagement/Index">Manage Clients</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>


    @RenderBody()




    <!--============================
    =            Footer            =
    =============================-->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
                        <div class="block">
                            <a asp-page="/Index"><img src="~/images/BrB-logo3-alt.png" alt="footer-logo"></a>

                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
                        <div class="block-2">
                            <!-- heading -->
                            <h6>Clients</h6>
                            <!-- links -->
                            <ul>
                                <li><a href="#">Customers</a></li>
                                <li><a href="#">Accounts</a></li>
                                <li><a href="#">Transactions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
                        <div class="block-2">
                            <!-- heading -->
                            <h6>Resources</h6>
                            <!-- links -->
                            <ul>
                                <li><a href="#">Assets</a></li>
                                <li><a href="#">Investments</a></li>
                                <li><a href="#">Trade</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
                        <div class="block-2">
                            <!-- heading -->
                            <h6>Company</h6>
                            <!-- links -->
                            <ul>
                                <li><a href="#">Employee Portal</a></li>
                                <li><a href="#">Development</a></li>
                                <li><a href="#">IT Support</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
                        <div class="block-2">
                            <!-- heading -->
                            <h6>Regulations</h6>
                            <!-- links -->
                            <ul>
                                <li><a href="#">Compliance</a></li>
                                <li><a href="#">Advocacy</a></li>
                                <li><a href="#">Anti-money laundering </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center bg-dark py-4">
            <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. <a>Blue Ridge Bank || .NET Project by Frederick Wennborg</a></small>
        </div>
    </footer>

    <!-- To Top -->
    <div class="scroll-top-to">
        <i class="ti-angle-up"></i>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- JAVASCRIPTS -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/plugins/slick/slick.min.js"></script>
    <script src="~/plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/plugins/syotimer/jquery.syotimer.min.js"></script>
    <script src="~/plugins/aos/aos.js"></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
    <script src="~/plugins/google-map/gmap.js"></script>


    <script src="~/js/script.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")

</body>

</html>