@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


<partial name="_Showcase" model='new { HeaderText = "Edit User", ParagraphText = "" }' />

<div>

    @RenderBody()

</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
