@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Delete User";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}



<div class="col-md-3">
    <partial name="_ManageNav" model="@Model.UserId" />
</div>

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>The account contains user data. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove the account, and this cannot be recovered.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-route-userId="@Model.UserId" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
