@import url('site.css');
.home {
    background-image: url("/images/office-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.login {
    background-image: url("/images/office-corridor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.contact {
    background-image: url('/images/contact-background.jpg');
}
