@page
@model BankManagerApp.Pages.Accounts.DepositModel
@{
    ViewBag.BodyClass = "home";
}

<partial name="_Showcase" model='new { HeaderText = "Deposit", ParagraphText = "" }' />


<section class="section pt-0 position-relative pull-top">
    <div class="container">
        <div class="rounded shadow p-5 bg-white">
            <div class="row">
                <h2 class="mb-5 text-center"></h2>
            </div>
            <div class="col-12">
                <form method="post">
                    <div class="row">
                        <!-- Amount -->
                        <div class="col-md-6 mb-2">
                            <label asp-for="Amount" class="transaction-solid">Amount</label>
                            <input class="form-control main" asp-for="Amount" required>
                            <span class="field-validation-error" asp-validation-for="Amount"></span>
                        </div>
                        <!-- Date -->
                        <div class="col-md-6 mb-2">
                            <label asp-for="DepositDate" class="transaction-solid">Date</label>
                            <input class="form-control main" asp-for="DepositDate" required>
                            <span class="field-validation-error" asp-validation-for="DepositDate"></span>
                        </div>
                        <!-- Message -->
                        <div class="col-md-12 mb-2">
                            <label asp-for="Comment" class="transaction-solid">Comment</label>
                            <textarea class="form-control main" asp-for="Comment"></textarea>
                            <span class="field-validation-error" asp-validation-for="Comment"></span>
                        </div>
                        <!-- Submit Button -->
                        <div class="col-12 text-right">
                            <button type="submit" class="btn btn-primary">Deposit</button>
                        </div>
                    </div>
                </form>
                <a class="btn btn-secondary"
                   asp-page="/Accounts/Account" asp-route-previousPage="/Accounts/Index" asp-route-accountId="@Model.AccountId">
                    Back
                </a>
            </div>
        </div>
    </div>
</section>

@section Scripts
{ 
    <partial name="Shared/_ValidationScriptsPartial" />

}