@page
@model BankManagerApp.Pages.Accounts.WithdrawalModel
@{
    ViewBag.BodyClass = "home";
}

<partial name="_Showcase" model='new { HeaderText = "Withdrawal", ParagraphText = "" }' />


<section class="section pt-0 position-relative pull-top">
    <div class="container">
        <div class="rounded shadow p-5 bg-white">
            <div class="row">
                <h2 class="mb-5 mx-auto text-center">Balance: @Model.CurrentBalance @Model.Currency</h2>
            </div>
            <div class="col-12">
                <form method="post">
                    <input type="hidden" asp-for="CurrentBalance" />
                    <div class="row">
                        <!-- Amount -->
                        <div class="col-md-6 mx-auto text-center mb-2">
                            <label asp-for="Amount" class="transaction-solid">Amount</label>
                            <input class="form-control main" asp-for="Amount" required>
                            <span class="field-validation-error" asp-validation-for="Amount"></span>
                        </div>
                        <!-- Submit Button -->
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary">Withdraw</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts
    { 
    <partial name="Shared/_ValidationScriptsPartial" />

}


