@page
@model BankManagerApp.Pages.CustomerManagement.IndexModel
@{
    ViewBag.BodyClass = "home";
}

<partial name="_Showcase" model='new { HeaderText = "Cashier", ParagraphText = "Manage customers and accounts by creating new ones or modifying existing ones." }' />

<section class="job-list section pt-4 position-relative pull-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 m-auto">
                <div class="block">
                    <div class="job">
                        <div class="content text-center">
                            <!-- Job Title -->
                            <h3 class="mb-2">Customers</h3>
                            <!-- Location -->
                            <p class="mb-4">Register and edit Blue Ridge Bank customers.</p>
                        </div>
                        <!-- Create Button -->
                        <div class="apply-button text-center">
                            <a asp-page="/CustomerManagement/CreateCustomer" class="btn btn-success btn-main-sm">
                                <i class="fas fa-plus-circle"></i> Create
                            </a>
                            <a asp-page="/Customers/Index" asp-route-previousPage="manage-customers" class="btn btn-warning btn-main-sm ml-3">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}