@page
@model BankManagerApp.Pages.Administrator.IndexModel
@{
    ViewBag.BodyClass = "home";
}

<partial name="_Showcase" model='new { HeaderText = "Administrator", ParagraphText = "Manage users by creating new ones or modifying existing ones." }' />


<section class="job-list section pt-4 position-relative pull-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 m-auto">
                <div class="block">
                    <div class="job">
                        <div class="content text-center">
                            <!-- Job Title -->
                            <h3>Users</h3>
                            <!-- Location -->
                            <p class="mb-4">Admins and Cashiers.</p>
                        </div>
                        <!-- Action Buttons -->
                        <div class="apply-button text-center">
                            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-success btn-main-sm">
                                <i class="fas fa-plus-circle"></i> Create
                            </a>
                            <a class="btn btn-warning btn-main-sm ml-3" data-toggle="modal" data-target="#android-developer">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <!-- Modal -->
                            <div class="modal fade jd-modal" id="android-developer" tabindex="-1">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Choose User</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span>&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Application Form -->
                                            <div class="col-12 col-lg-12 m-auto">
                                                <div class="block">
                                                    <table class="title table ">
                                                        <thead>
                                                            <tr>
                                                                <th class="small-table" scope="col">Id</th>
                                                                <th class="small-table" scope="col">Email</th>
                                                                <th class="small-table"> </th>
                                                                <th class="small-table"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var user in Model.IdentityUsers)
                                                            {
                                                                <tr>
                                                                    <td class="small-table">@user.Id</td>
                                                                    <td class="small-table">@user.Email</td>
                                                                    <td class="small-table"></td>
                                                                    <td class="small-table"><a asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-userId="@user.Id" asp-route-previousPage="/Administration/Index" class="btn btn-primary">Select</a></td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
              